<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-black"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>{{currentUser()?.firstName}} {{currentUser()?.lastName}}</h5>
                            <a routerLink="/changeProfile"><i class="far fa-edit mb-5"></i></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>First Name</h6>
                                        <p class="text-muted">{{currentUser()?.firstName}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Last Name</h6>
                                        <p class="text-muted">{{currentUser()?.lastName}}</p>

                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">{{currentUser()?.email}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">{{currentUser()?.contactPhone}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6>Favorite Toy Type</h6>
                                    <p class="text-muted">{{currentUser()?.favoriteToyType}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5>Reservations</h5>
        </div>
        <div class="card-body">
            @if (currentUser()?.reservation!.length>0) {
            <table class="table table-strpied table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Total number of items</th>
                        <th scope="col">Ammount</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Status</th>
                        <th scope="col">Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    @for (r of currentUser()?.reservation; track r.createdAt; let i = $index) {
                    <th scope="row">{{i}}</th>
                    <td>{{r.items.length}}</td>
                    <td>{{r.total}}</td>
                    <td>{{misc.formatDate(r.updatedAt ?? r.createdAt)}}</td>
                    <td>{{r.status}}</td>
                    <td>
                        <div class="btn-group">
                            @if (r.status==='waiting') {
                            <button type="button" class="btn btn-sm btn-primary" (click)="arrived(r)">
                                <i class="fa-solid fa-plane-arrival"></i> Arrived
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="canceled(r)">
                                <i class="fa-solid fa-xmark"></i> Cancel
                            </button>
                            }
                            @else {
                            No options available
                            }
                        </div>
                    </td>
                    }
                </tbody>
            </table>
            }@else {
            <p class="text-center">You currently have 0 made reservations.</p>
            }
        </div>
    </div>
</section>